.storiesList {
  margin: 10px 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.title {
  display: inline-block;
}
.rating,
.time,
.author {
  margin: 0;
}

.time {
  font-style: italic;
}

.card {
  padding: 15px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #f0f0f0;
  }
}

.cardHead {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 0 10px;
}

.cardText {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.spinner {
  margin: 30px 0;
}

.refreshBtn {
  margin: 0 20px;
}