.commentHead,
.commentText,
.commentAuthor,
.commentTime {
  margin: 0;
}

.comment {
  padding: 15px;
}

.commentHead {
  padding: 0 0 5px 15px;
  display: flex;
  gap: 5px;
}

.commentTime {
  display: block;
  font-style: italic;
}